.gallery{
    display: inline-block;
    border: 1px solid hsl(0, 0%, 60%);
    margin: 10px;
    width:200px;
}
.gallery img{
    width: 100%;
    height: auto;
}

.gallery .description{
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

.gallery:hover {
    border: 3px solid hsl(0, 0%, 17%);
}